<!--Se utiliza el extends para renderizar la base de la pagina en la nueva pagina-->
{% extends "base.html" %} {% block title %} Login {% endblock %}

<!--Se agrega un blocke de contenido y se le agrega un titulo-->
{% block content %}
    <form  method="POST" class="container-md">
        <h3 align = "center">Login</h3>
        <div class="container-md ">
                <div class="form-floating mb-3">
                    <input 
                    type="email" 
                    class="form-control" 
                    id="email"
                    name="email"
                    placeholder="Enter email"
                    />
                    <label for="email">Email Address </label>
                </div> 
        </div> 
        <div class="container-md">
            <div class="form-floating">
                <input 
                type="password" 
                class="form-control" 
                id="password"
                name="password"
                placeholder="Enter Your Password"
                />
                <label for="password"> Password </label>
            </div>
        </div>    
        <br/>
        <button type="submit" class="btn btn-primary"> Login</button>

    </form>
{% endblock %}